h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  color: #ffff !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}
body {
  background: black !important;
  width: 100% !important;
}
.main-header-logo {
  padding-top: 30px;
}

.card {
  background-color: transparent !important;
}
.container-banner-heading {
  vertical-align: middle !important;
  align-items: center !important;
  /* padding-top: 30px; */
}
.banner-heading h2 {
  font-size: 37px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #f7a654 !important;
}
.banner-heading h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #f7a654 !important;
}
.banner-heading p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat";
  padding-right: 180px;
}
.header-image {
  text-align: center !important;
}
/*  */
.btn-primary-first {
  padding: 10px 150px !important;
  margin-top: 50px !important;
  font-size: 20px !important ;
  border-radius: 10px !important;
  background-color: #01aa80;
  color: #fff;
  font-weight: bold !important;
  font-family: "Montserrat";
  max-width: 100%;
  min-width: 10%;
}
.container-after-button-text {
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}
.container-after-text-heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}
.container-after-text-heading h2 {
  font-size: 18px;
  font-weight: bold !important;
  font-family: "Montserrat";
  color: #f7a654 !important;
}
.container-after-text-heading p {
  font-size: 16px;
  font-weight: 400 !important;
  font-family: "Montserrat";
  padding-left: 290px;
  padding-right: 290px;
}
.container-help {
  text-align: center;
  padding-top: 30px;
}

.testimonials-container {
  text-align: center;
}
.testimonials-container .col {
  text-align: center;
}
.consultation-button {
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}

.btn-primary-second {
  padding: 10px 100px !important;
  margin-top: 50px !important;
  font-size: 20px !important ;
  border-radius: 10px !important;
  background-color: #8a3c90;
  color: #fff;
  font-weight: bold !important;
  font-family: "Montserrat";
}
.container-why-us {
  padding-top: 30px;
  padding-bottom: 50px;
}
.container-why-us h2 {
  font-size: 37px;
  font-weight: bold !important;
  font-family: "Montserrat";
}
.container-why-us p {
  padding-left: 240px;
  padding-right: 240px;
  font-family: "Montserrat" !important;
}
.container-what-more {
  vertical-align: middle !important;
  /* align-items: flex-end !important;    */
  text-align: left !important;
  justify-content: space-between;
  width: 100% !important;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.container-what-more h2 {
  font-family: "Montserrat" !important;
  font-size: 37px;
  font-weight: 700;
}
.container-what-more h4 {
  font-family: "Montserrat" !important;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 30px;
}
.middle-banner-image {
  text-align: center;
}
.color-change {
  color: #f7a654 !important;
  font-weight: bold !important;
  font-family: "Montserrat" !important;
}
.container-contact {
  width: 100% !important;
  padding-top: 30px;
  font-family: "Montserrat" !important;
}
.container-what-more .list li {
  list-style-type: none;
}
.bottom-banner-button {
  width: 100% !important;
}
.bottom-banner-button-third {
  padding: 10px 150px !important;
  margin-top: 50px !important;
  font-size: 20px !important ;
  border-radius: 10px !important;
  background-color: #01aa80;
  color: #fff;
  font-weight: bold !important;
  font-family: "Montserrat";
}
.social-icons {
  padding-top: 30px;
  padding-bottom: 40px;
}
.container-after-banner-button2 {
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}
.footer-container {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer-container h3 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  /* padding-bottom: 20px; */
}
.footer-link {
  padding-bottom: 10px;
}
.footer-link h6 {
  color: #01aa80 !important;
}
.footer-logo {
  padding-bottom: 70px;
}
.card .card-body h5 {
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 700;
}
.card .card-body p {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 400;
}
.card {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* ============================================================================================== */

@media only screen and (max-width: 1150px) {
  .container-after-text-heading p {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Montserrat";
    padding-left: 190px;
    padding-right: 190px;
  }
  .container-why-us p {
    padding-left: 140px;
    padding-right: 140px;
    font-family: "Montserrat" !important;
  }
}

@media only screen and (max-width: 980px) {
  .container-after-text-heading p {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Montserrat";
    padding-left: 120px;
    padding-right: 120px;
  }
  .container-why-us p {
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Montserrat" !important;
  }
  .main-header-logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .container-after-text-heading p {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Montserrat";
    padding-left: 70px;
    padding-right: 70px;
  }
  .container-why-us p {
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Montserrat" !important;
  }
  .main-header-logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .container-help {
    text-align: center;
  }
  .want-more-list {
    width: 100% !important;
  }
  
  .col {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* *{
    box-sizing: unset !important;
  } */
}

@media only screen and (max-width: 560px) {
  .container-after-text-heading p {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Montserrat";
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-why-us p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat" !important;
  }
  .main-header-logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .container-help {
    text-align: center;
  }
  .want-more-list {
    width: 100% !important;
  }
  .col {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* *{
    box-sizing: unset !important;
  } */
}

@media only screen and (max-width: 480px) {
  .container-after-text-heading p {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Montserrat";
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-why-us p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat" !important;
  }
  .main-header-logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .container-help {
    text-align: center;
  }
  .want-more-list {
    width: 100% !important;
  }
  .col {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* *{
    box-sizing: unset !important;
  } */
  .btn-primary-first {
    padding: 10px 50px !important;
    margin-top: 50px !important;
    font-size: 20px !important ;
    border-radius: 10px !important;
    background-color: #01aa80;
    color: #fff;
    font-weight: bold !important;
    font-family: "Montserrat";
    /* width: 100px !important; */
  }

  .btn-primary-second {
    padding: 10px 20px !important;
    margin-top: 50px !important;
    font-size: 20px !important ;
    border-radius: 10px !important;
    background-color: #8a3c90;
    color: #fff;
    font-weight: bold !important;
    font-family: "Montserrat";
  }
  .middle-banner-image {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .middle-banner-image .top-image {
    padding-bottom: 20px;
  }
  .banner-heading p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    padding-right: 20px;
  }
}



@media only screen and (max-width: 420px) {
  .container-after-text-heading p {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Montserrat";
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-why-us p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat" !important;
  }
  .main-header-logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .container-help {
    text-align: center;
  }
  .want-more-list {
    width: 100% !important;
  }
  .col {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* *{
    box-sizing: unset !important;
  } */
  .btn-primary-first {
    padding: 10px 50px !important;
    margin-top: 50px !important;
    font-size: 20px !important ;
    border-radius: 10px !important;
    background-color: #01aa80;
    color: #fff;
    font-weight: bold !important;
    font-family: "Montserrat";
    /* width: 100px !important; */
  }

  .btn-primary-second {
    padding: 10px 20px !important;
    margin-top: 50px !important;
    font-size: 20px !important ;
    border-radius: 10px !important;
    background-color: #8a3c90;
    color: #fff;
    font-weight: bold !important;
    font-family: "Montserrat";
  }
  .middle-banner-image {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .middle-banner-image .top-image {
    padding-bottom: 20px;
  }
  .banner-heading p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    padding-right: 20px;
  }
  .top-banner-image{
    width: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .container-after-text-heading p {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Montserrat";
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-why-us p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat" !important;
  }
  .main-header-logo {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .container-help {
    text-align: center;
  }
  .want-more-list {
    width: 100% !important;
  }
  .col {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* *{
    box-sizing: unset !important;
  } */
  .btn-primary-first {
    padding: 10px 50px !important;
    margin-top: 50px !important;
    font-size: 20px !important ;
    border-radius: 10px !important;
    background-color: #01aa80;
    color: #fff;
    font-weight: bold !important;
    font-family: "Montserrat";
    /* width: 100px !important; */
  }

  .btn-primary-second {
    padding: 10px 20px !important;
    margin-top: 50px !important;
    font-size: 15px !important ;
    border-radius: 10px !important;
    background-color: #8a3c90;
    color: #fff;
    font-weight: bold !important;
    font-family: "Montserrat";
  }
  .middle-banner-image {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .middle-banner-image .top-image {
    padding-bottom: 20px;
  }
  .banner-heading p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    padding-right: 20px;
  }
  .top-banner-image{
    width: 200px;
  }
 .banner2-image{
  width: 200px;
 }

}
